@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.showcase
{
    position: absolute;
    right:0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#222;
    color: #fff;
    z-index: 2;
    transition: 0.5s;

}

.showcase.active
{
    right: 250px;
    background: #222;
}

.showcase header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 1000;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #03a9f4;
    opacity: 0.8;
    }
   
    .logo 
    {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 2.5em;
        font-family: 'Courier New', Courier, monospace;
        color: purple;
        animation: blinker 1.5s linear infinite;
    }

   
   @keyframes blinker {
     50%{
        opacity: 0.6;
       
     }
     
    }


.toggle
{
    position: relative;
    width: 50px;
    height:50px;
    background:url('open.png');
    background-repeat: no-repeat;
    background-size:50px;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
   
}

.toggle.active
{
    background:url('close.png');
    background-repeat: no-repeat;
    background-size: 30px;
    filter: invert(1);
    background-position: center;
}


.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    height:100% ;
    width: 100%;
    object-fit: cover;

}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height:100% ;
    width: 100%;
    background: ;
    mix-blend-mode: ;
    
}

.text
{
  position:relative;  
  z-index: 10;
}

.text h2
{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    cursor:none;
    transition:0.5s;
}
.text h2:hover
{
    color: #c850c0;

}

.text h3
{
    font-size: 4em;
    font-weight:700px; 
    line-height: 1em;
    text-transform: uppercase;
    cursor:none;
    transition:0.5s;
}

.text h3:hover
{
    color: orange;
}
.text p
{
    font-size: 1.1em;
    margin: 20px;
    font-weight: 400;
    max-width: 700px;  
    transition:0.5s;  
    text-transform: uppercase;                                                                                                                                                                                                                                                                                                                                                                                                                                      
}
.text p:hover
{
    color:orangered;
    font-weight: 500;
    font-size: 1.5em;
}

.text a
{
     display: inline-block;
     font-size: 1em;
     background: #fff;
     padding: 10px 30px;
     text-decoration: none;
     color:#111;
     font-weight: 500;
     margin-top: 10px;
     text-transform: uppercase;
     letter-spacing:2px ;
     transition: 0.2s;
}

.text a:hover
{
    letter-spacing:6px;  
    background: #03a9f4;  
    color:bisque;
                                                    
}

.social
{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.social li{
list-style: none;

}

.social li img
{
   width:20px ;
   height:20px;
}

.social li a
{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale();
    transition: 0.5s;
}

.social li a:hover
{
    transform: translateY(-5px);
    filter: invert(12);
}





.menu
{
    position:absolute;
    top: 0;
    right:0 ;
    width:200px; 
    height:50px ;
    align-items: center; 
    justify-content: center;    
    align-items: center;  
    padding: 2;     
    transition: 0.5; 

    
}


.menu ul
{
    position: relative;
    list-style: none;
    bottom:0px ;
    padding:30px ;
    align-items:center;  
    display:block;   
    justify-content:center;
    transition: 0.5;
    top:110px;
    right: 60px;
  
}


.menu ul li a{
    text-decoration: none;
    font-size: 1.8em;
    color:#222 ;
    opacity: 0.9;    
    font-weight: 700;
    justify-content:center;     
   align-items:center ;  
    transition: 0.5;
    top: 100px;
}


.menu ul li a:hover
{
    color: rgb(209, 27, 112);
   
    opacity:0.7 ;
    border-radius: 8px;
}

#login
{
    position:relative;
    display: flex;
    padding: 50px;
    margin: 100px;
    top:0;
    justify-content: center;
    justify-items: center;
    
}
#login a
{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    padding: 50px;
    margin:100px ;
    text-align: right;
    justify-content: center;
    justify-items: center;
    margin-left: 430px;
    
}
#login a:hover
{
    color:greenyellow;
}




@media(max-width:798px){
    .showcase,
    .showcase header{
        padding: 40px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}
